@page
@model Registration.ExportImportModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportImport</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="fUpload" name="files" class="form-control" />
            </div>
            <div class="col-md-8">

                <button asp-page-handler="Export" name="savemore" value="Import">Import</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="padding-top:10px;">
                <button asp-page-handler="Export" name="savemore" value="Export">Export</button>
            </div>
        </div>
        <br />
        <div id="dvData"></div>
    </form>
</body>
</html>
