@page
@model VidayhLogin.Pages.MyPageModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Princetonhive :: a hive of global learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.google.com/specimen/Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/stylehome.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index"><img src="images/logo/logo.png" alt="Princetonhive" title="Princetonhive"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">School</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
                    <li class="nav-item"><a href="testimonials" class="nav-link">Testimonials</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                </ul>
            </div>

            <div class="outer-box">
                <!--Nav Toggler-->
                <a href="#">Login</a> | <a href="#"> Register</a>
            </div>

        </div>
    </nav>
    <!-- END nav -->


    <div class="hero-wrap" align="center">
        <img class="img-fluid animatedbing" src="images/bings-animated.gif" alt="Princetonhive">

        <img class="img-fluid" data-wow-delay="0ms" data-wow-duration="1500ms" src="images/map_princetonhive.gif" alt="Princetonhive">
    </div>

    <section class="ftco-section ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5">

            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong> <h2 class="text-white">Skill Seekers + Skill Providers</h2></strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <!-- <strong class="number" data-number="88">0</strong>-->
                                    <strong> <h2 class="text-white">88 Countries</h2></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <!--<strong class="number" data-number="200">0</strong>-->
                                    <strong><h2 class="text-white">200 Cities</h2></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center heading-section ftco-animate">
                    <h4> <br /> <span class="text-white"> Powered by Belouga, USA </span><br /> </h4>
                </div>




                <h1 align="center" class="textyellow"> NOW ALSO IN INDIA </h1>
            </div>
        </div>
    </section>



    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <h3 class="mb-4">Bring the 21st Century Skills into your Classroom</h3>
                    <p>...and out to the World </p>
                </div>
            </div>
            <div class="row d-flex">


                <div class="col-lg-4 col-md-6  mb-4  ftco-animate fadeInUp ftco-animated">

                    <div class="yellowbox">
                        <div class="block-skills">
                            <div class="text-center">
                                <img class="img-fluid" src="images/icons/school.png" alt="School">
                                <h2 class="heading">School</h2>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6  mb-4  ftco-animate fadeInUp ftco-animated">
                    <div class="yellowbox">
                        <div class="block-skills hover">
                            <div class="text-center">
                                <img class="img-fluid" src="images/icons/universities.png" alt="Universities">
                                <h2 class="heading">Universities</h2>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6  mb-4  ftco-animate fadeInUp ftco-animated">
                    <div class="yellowbox">
                        <div class="block-skills">
                            <div class="text-center">
                                <img class="img-fluid" src="images/icons/teacher.png" alt="Teachers">
                                <h2 class="heading">Teachers</h2>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-lg-3 col-md-6  mb-3 ftco-animate fadeInUp ftco-animated">
                  <div class="yellowbox">
                   <div class="block-skills">
                     <div class="text-center">
                     <img class="img-fluid" src="images/icons/programs.png" alt="Teachers">
                         <h2 class="heading">Programs</h2>
                     </div>
                   </div>
                   </div>
                 </div>-->


            </div>
        </div>
    </section>




    <section class="ftco-section services-section bg-light ">
        <div class="bg1">
            <div class="">
                <div class="row">

                    <div class="col-md-7 ">

                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">

                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-3 "> <img src="images/icons/scholicon.png" class="img-fluid">   </div>

                                    <div class="col-md-9 ">
                                        <h1 class="heading" style="font-family: PlayfairDisplay-Regular;">
                                            <br /> A new Class of<br />
                                            Educational Experience
                                        </h1>
                                        <h4 class="mb-20" style="font-family: PlayfairDisplay-Regular;">
                                            providing the resource and network for personalised
                                            student and teacher learning journeys
                                        </h4>

                                        <!--<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip.</p>-->
                                        <br />
                                        <p><a href="#" class="btn btn-primary px-5 py-2">KNOW MORE</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-5 ftco-animate">
                        <img src="images/pic/classroom.png" class="img-fluid">
                    </div>




                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-5">
                    <img src="images/pic/teaher.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">
                            <div class="mtop100 padleft100">
                                <h1 class="heading" style="font-family: PlayfairDisplay-Regular;">
                                    Local educators <br />
                                    reaching the world!
                                </h1>
                                <p class="mb-0">
                                    Educate the world of tomorrow, today by
                                    global collabration
                                </p>

                                <p class="py-5"><a href="#" class="btn btn-primary px-5 py-2">KNOW MORE</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-5">
                    <img src="images/pic/students.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">
                            <div class="mtop150 padleft100">
                                <h1 class="heading" style="font-family: PlayfairDisplay-Regular;">
                                    The newer version<br />
                                    of a Rockstar
                                </h1>
                                <p><a href="#" class="btn btn-primary px-5 mtop50">KNOW MORE</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">
                            <div class="mtop100">
                                <h1 class="heading" style="font-family: PlayfairDisplay-Regular;">
                                    A Global Digital <br />
                                    Learning Environment!
                                </h1>
                                <p class="mb-0">
                                    How would learning in your classroom look without any limitation?
                                    with access to the world at your fingertips...
                                </p>

                                <h4 class="py-4 txtcolor">The possibilities are endless. </h4>

                                <p class="py-2"><a href="#" class="btn btn-primary px-5 py-2">REGISTER NOW</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 py-5">
                    <img src="images/pic/university.png" class="img-fluid" alt="">
                </div>


            </div>
        </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-5">
                    <img src="images/pic/goals.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">
                            <div class="mtop50 padleft20">
                                <h3 class="heading" style="font-family: PlayfairDisplay-Regular; color:#434343;">
                                    Theme based programs and learning based
                                    on United Nations Sustainable
                                    Development Goals 2030
                                </h3>
                                <p><a href="#" class="btn btn-primary px-5 mtop50">REGISTER NOW</a></p>

                                <img src="images/pic/goal-logo.png" class="img-fluid" alt="" style="float:right;">


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">

            <div class="row">
                <div class="col-lg-1"> </div>
                <div class="col-lg-10">
                    <div class="heading-section ftco-animate mt-5">
                        <h2 class="mb-4" style="font-family: PlayfairDisplay-Regular; color:#434343; font-weight:normal;">Video</h2>
                    </div>

                    <iframe width="100%" height="480" src="https://www.youtube.com/embed/MnR9AVs6Q_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!--<iframe width="100%" height="480" src="https://www.youtube.com/embed/4-NiO3tq8mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                </div>

                <div class="col-lg-1"> </div>

            </div>
        </div>

    </section>




    <section class="ftco-section testimony-section bg-light">
        <div class="container">

            <div class="row justify-content-left mb-1 pb-1">
                <div class="col-md-1"> </div>
                <div class="col-md-10 text-left heading-section ftco-animate">
                    <h2 class="mb-4" style="font-family: PlayfairDisplay-Regular; color:#434343;">Testimonials</h2>
                </div>
                <div class="col-md-1"> </div>
            </div>

            <div class="row ftco-animate">

                <div class="col-md-1"> </div>
                <div class="col-md-10">
                    <div class="carousel-testimony owl-carousel ftco-owl">

                        <div class="item">
                            <div class="text-left">
                                <span class="quote d-flex align-items-left justify-content-left">
                                    <i class="icon-quote-left quote"></i>
                                </span>
                                <div class="text">
                                    <span class="testimonialname">Jay Watson</span><br />
                                    <span class="position">Sunday 23 June 2019</span><br /><br />
                                    <p class="mb-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="text-left">
                                <span class="quote d-flex align-items-left justify-content-left">
                                    <i class="icon-quote-left quote"></i>
                                </span>
                                <div class="text">
                                    <span class="testimonialname">Jay Watson</span><br />
                                    <span class="position">Sunday 23 June 2019</span><br /><br />
                                    <p class="mb-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip.
                                    </p>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="col-md-1"> </div>

            </div>
        </div>
    </section>




    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">

            <div class="row mb-5">

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <img src="images/logo/footer-logo.png" class="img-fluid" alt=""> <br /> <br />
                        <div class="block-23 mb-3">
                            <ul>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text txticons">(413) 584-6500</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text txticons">info@vidhyala.com</span></a></li>
                                <li><span class="icon icon-map-marker"></span><span class="text txticons">73 Loren <br /> Belouga, USA  </span></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="col-md">
                    <div class="ftco-footer-widget mb-4  ml-md-5">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">School</a></li>
                            <li><a href="#" class="py-2 d-block">University</a></li>
                            <li><a href="#" class="py-2 d-block">Teachers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <ul class="list-unstyled">
                            <li><a href="testimonials.html" class="py-2 d-block">Testimonials</a></li>
                            <li><a href="about.html" class="py-2 d-block">About</a></li>
                            <li><a href="contact.html" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">Solutions</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-left">

                    <p>
                        <span class="text-footer-color">
                            <!--Copyright--> &copy; Princetonhive, Based in US. providing e-learning Platform<br />
                            <a href="#"> Privacy Policy </a> | <a href="#"> Terms & Condition</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>