@page
@model VidayhLogin.Pages.OfflineModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline</title>
</head>
<body>
</body>
</html>
