@page
@model VidayhLogin.Pages.TestimonialsModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Princetonhive :: a hive of global learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.google.com/specimen/Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index"><img src="images/logo/logo.png" alt="Princetonhive" title="Princetonhive"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="school" class="nav-link">School</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">University</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
                    <li class="nav-item active"><a href="testimonials" class="nav-link">Testimonials</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                </ul>
            </div>

            <div class="outer-box">
                <!--Nav Toggler-->
                <a href="#" data-toggle="modal" data-target="#login">Login</a> | <a href="#" data-toggle="modal" data-target="#register"> Register</a>
            </div>

        </div>
    </nav>
    <!-- END nav -->




    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  mtop100" align="center">
                    <h1 class="heading text-pincetonhive-color" style="font-family: PlayfairDisplay-Regular;"><strong>Testimonials</strong></h1>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"> </div>
                <div class="col-lg-2 py-5">
                    <img src="images/icons/scholicon.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-left">
                            <div class="mtop100">
                                <h1 class="heading" style="font-family: PlayfairDisplay-Regular;">Testimonials</h1>
                                <h4 class="mb-20 mbottom50" style="font-family: PlayfairDisplay-Regular;">Let's see what Clients sau about us!</h4>



                                <!--Testimonials #1-->
                                <div class="col-md-12 mbottom50">
                                    <div class="row">
                                        <div class="col-md-2"> <img src="images/person_4.jpg" class="img-fluid img-circle" alt="" style="width:100px; height:100px;"> </div>
                                        <div class="col-md-10">
                                            <div class="text-left">
                                                <span class="quote d-flex align-items-left justify-content-left">
                                                    <i class="icon-quote-left quote" style="font-size:55px;"></i>
                                                </span>
                                                <div class="text">

                                                    <p class="mb-4">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                        ullamco laboris nisi ut aliquip.
                                                    </p>
                                                    <p align="right">
                                                        <span class="testimonialname">Jay Watson</span><br />
                                                        <span class="position">Sunday 23 June 2019</span>
                                                    </p><br /><br />

                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <!--Testimonials #1-->
                                    <!--Testimonials #1-->
                                    <div class="col-md-12 mbottom50">
                                        <div class="row">
                                            <div class="col-md-2"> <img src="images/person_4.jpg" class="img-fluid img-circle" alt="" style="width:100px; height:100px;"> </div>
                                            <div class="col-md-10">
                                                <div class="text-left">
                                                    <span class="quote d-flex align-items-left justify-content-left">
                                                        <i class="icon-quote-left quote" style="font-size:55px;"></i>
                                                    </span>
                                                    <div class="text">

                                                        <p class="mb-4">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                            ullamco laboris nisi ut aliquip.
                                                        </p>
                                                        <p align="right">
                                                            <span class="testimonialname">Jay Watson</span><br />
                                                            <span class="position">Sunday 23 June 2019</span>
                                                        </p><br /><br />

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <!--Testimonials #1-->
                                        <!--Testimonials #1-->
                                        <div class="col-md-12 mbottom50">
                                            <div class="row">
                                                <div class="col-md-2"> <img src="images/person_4.jpg" class="img-fluid img-circle" alt="" style="width:100px; height:100px;"> </div>
                                                <div class="col-md-10">
                                                    <div class="text-left">
                                                        <span class="quote d-flex align-items-left justify-content-left">
                                                            <i class="icon-quote-left quote" style="font-size:55px;"></i>
                                                        </span>
                                                        <div class="text">

                                                            <p class="mb-4">
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                                ullamco laboris nisi ut aliquip.
                                                            </p>
                                                            <p align="right">
                                                                <span class="testimonialname">Jay Watson</span><br />
                                                                <span class="position">Sunday 23 June 2019</span>
                                                            </p><br /><br />

                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <!--Testimonials #1-->
                                            <!--Testimonials #1-->
                                            <div class="col-md-12 mbottom50">
                                                <div class="row">
                                                    <div class="col-md-2"> <img src="images/person_4.jpg" class="img-fluid img-circle" alt="" style="width:100px; height:100px;"> </div>
                                                    <div class="col-md-10">
                                                        <div class="text-left">
                                                            <span class="quote d-flex align-items-left justify-content-left">
                                                                <i class="icon-quote-left quote" style="font-size:55px;"></i>
                                                            </span>
                                                            <div class="text">

                                                                <p class="mb-4">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                                    ullamco laboris nisi ut aliquip.
                                                                </p>
                                                                <p align="right">
                                                                    <span class="testimonialname">Jay Watson</span><br />
                                                                    <span class="position">Sunday 23 June 2019</span>
                                                                </p><br /><br />

                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                                <!--Testimonials #1-->


                                                <div class="col-lg-1"> </div>

                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
    </section>





    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">

            <div class="row mb-5">

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <img src="images/logo/footer-logo.png" class="img-fluid" alt=""> <br /> <br />
                        <div class="block-23 mb-3">
                            <ul>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text txticons">(413) 584-6500</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text txticons">info@vidhyala.com</span></a></li>
                                <li><span class="icon icon-map-marker"></span><span class="text txticons">73 Loren <br /> Belouga, USA  </span></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="col-md">
                    <div class="ftco-footer-widget mb-4  ml-md-5">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <ul class="list-unstyled">
                            <li><a href="index" class="py-2 d-block">Home</a></li>
                            <li><a href="school" class="py-2 d-block">School</a></li>
                            <li><a href="#" class="py-2 d-block">University</a></li>
                            <li><a href="#" class="py-2 d-block">Teachers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <ul class="list-unstyled">
                            <li><a href="testimonials" class="py-2 d-block">Testimonials</a></li>
                            <li><a href="about" class="py-2 d-block">About</a></li>
                            <li><a href="contact" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">&nbsp;</h2>
                        <h2 class="ftco-heading-2">Solutions</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-left">

                    <p>
                        <span class="text-footer-color">
                            <!--Copyright--> &copy; Princetonhive, Based in US. providing e-learning Platform<br />
                            <a href="#"> Privacy Policy </a> | <a href="#"> Terms & Condition</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Login Modal -->
    <div id="login" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="content">
                        <p align="center"><img src="images/logo/logo.png" class="img-fluid"><h5 class="modal-title" align="center">Welcome Back</h5> </p>

                        <div class="container">
                            <form method="post" accept-charset="utf-8" id="login-form" action="#"><div style="display:none;"><input type="hidden" name="_method" value="POST" /></div><div class="form-group"><div class="input text"><label for="username">Username or Email</label><input type="text" name="username" class="form-control" id="username" placeholder="username or email..." /></div></div><div class="form-group"><div class="input password"><label for="password">Password</label><input type="password" name="password" class="form-control" id="password" /></div></div><div class="form-group"><div class="submit"><input type="submit" class="btn btn-primary" id="login-btn" value="Login" /></div></div></form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-toggle="modal" data-target="#reset-pass" data-dismiss="modal">Forgot Password</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#" class="close-modal" data-dismiss="modal" data-toggle="modal" data-target="#register">Register as new user</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div></div>

    <!-- PASSWORD RESET MODAL -->
    <div id="reset-pass" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <p align="center"><img src="images/logo/logo.png" class="img-fluid"><h5 class="modal-title" align="center">Recover Your Password</h5> </p>
                        <div class="container">
                            <form method="post" accept-charset="utf-8" id="reset-password-form" action="#"><div style="display:none;"><input type="hidden" name="_method" value="POST" /></div><div class="form-group"><div class="input text"><label for="reset-email"><i class="fal fa-envelope" aria-hidden="true"></i> <span> Email Address</span></label><input type="text" name="reset-email" class="form-control" id="reset-email" placeholder="Email Address" /></div></div><div class="form-group"><div class="submit"><input type="submit" class="btn btn-primary" id="teacher-register-btn" value="Reset" /></div></div></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div id="register" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-md-5">
                                <img id="myImage" src="images/student-signup.jpg" class="usertype-image">
                                <div class="top-left"><h2 style="color:#FFFFFF">Sign Up</h2> <p> Learn about the world, with the world.</p></div>
                            </div>


                            <div class="col-sm-7">
                                <div class="mtop50">
                                    <div class="w3-bar w3-black">
                                        <button class="w3-bar-item w3-button tablink w3-red" onClick="openCity(event,'TYPE')">TYPE</button>
                                        <button class="w3-bar-item w3-button tablink" onClick="openCity(event,'SCHOOL')">SCHOOL</button>
                                        <button class="w3-bar-item w3-button tablink" onClick="openCity(event,'DETAILS')">DETAILS</button>
                                    </div>

                                    <div id="TYPE" class="w3-container  city">
                                        <div class="mtop50">

                                            <h4 align="center">SELECT AN <strong>ACCOUNT TYPE</strong></h4>
                                            <P align="center">What kind of user are you? </P>
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-6" align="center">
                                                    <button class="btnborder" onClick="document.getElementById('myImage').src='images/teacher-signup.jpg'">

                                                        <span class="icon icon-graduation-cap" style="font-size:75px;"></span> <br />


                                                    </button> <br /> Teacher
                                                </div>
                                                <div class="col-sm-6 col-xs-6" align="center">
                                                    <button class="btnborder" onClick="document.getElementById('myImage').src='images/student-signup.jpg'">
                                                        <span class="icon icon-user-plus" style="font-size:75px;"></span> <br />


                                                    </button> <br />Student
                                                </div>

                                            </div>
                                            <br />
                                            <a href="#" class="btn btn-primary" onclick="openCity(event,'SCHOOL')" style="float:right;"> Next </a>
                                        </div>
                                    </div>
                                </div>

                                <div id="SCHOOL" class="w3-container city" style="display:none">
                                    <div class="mtop50">

                                        <h4 align="center">FIND YOUR <strong> SCHOOL</strong></h4>
                                        <P align="center">
                                            Look up your school information in our database
                                            If you don't see your school listed, ask your teacher to sign up!
                                        </P>
                                        <form action="#">

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>COUNTRY </label>
                                                            <select class="form-control">
                                                                <option value="">Select Country</option>
                                                                <option value="1">India</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>STATE/PROVINCE </label>
                                                            <select class="form-control">
                                                                <option value="">Select State/Province</option>
                                                                <option value="1">State</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>SCHOOL NAME </label>
                                                            <select class="form-control">
                                                                <option value="">Select School Name</option>
                                                                <option value="1">EDU</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>CITY </label>
                                                            <input type="text" class="form-control" placeholder="City">
                                                        </div>
                                                    </div>





                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>POSTAL CODE </label>
                                                            <input type="text" class="form-control" placeholder="Postal Code">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-primary" onclick="openCity(event,'TYPE')" style="float:left;"> PREVIOUS </a>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-primary" onclick="openCity(event,'DETAILS')" style="float:right;"> NEXT </a>
                                                    </div>

                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>

                                <div id="DETAILS" class="w3-container  city" style="display:none">
                                    <div class="mtop50">

                                        <h4 align="center">STUDENT <strong> DETAILS</strong></h4>
                                        <P align="center">
                                            We need a couple more details to create your account. This information will not be shared publicly anywhere.
                                        </P>
                                        <form action="#">

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>FIRST NAME </label>
                                                            <input type="text" class="form-control" placeholder="First Name">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>LAST NAME </label>
                                                            <input type="text" class="form-control" placeholder="Last Name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-12">
                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>USERNAME </label>
                                                            <input type="text" class="form-control" placeholder="Username">
                                                        </div>
                                                    </div>





                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>PASSWORD </label>
                                                            <input type="password" class="form-control" placeholder="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>CONFIRM PASSWORD </label>
                                                            <input type="password" class="form-control" placeholder="">
                                                        </div>
                                                    </div>





                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>BIRTHDAY    </label>
                                                            <input type="date" class="form-control" placeholder="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-primary" onclick="openCity(event,'SCHOOL')" style="float:left;"> PREVIOUS </a>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-primary" onclick="openCity(event,'TYPE')" style="float:right;"> NEXT </a>
                                                    </div>

                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>

                                <script>
                                    function openCity(evt, cityName) {
                                        var i, x, tablinks;
                                        x = document.getElementsByClassName("city");
                                        for (i = 0; i < x.length; i++) {
                                            x[i].style.display = "none";
                                        }
                                        tablinks = document.getElementsByClassName("tablink");
                                        for (i = 0; i < x.length; i++) {
                                            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                                        }
                                        document.getElementById(cityName).style.display = "block";
                                        evt.currentTarget.className += " w3-red";
                                    }
                                </script>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>